@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 249, 230, 0.5);
}

::-webkit-scrollbar-thumb {
  background: #ffd580;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffbb4d;
}